.player__video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.player__video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

select {
  border: none;
  height: 2.5rem;
  text-indent: .5rem;
  min-width: 10rem;
  outline: 0;
}
