<div class="sidebar">
  <div class="container sidebar-sticky">
      {% include profile_card.html %}
    <div class="sidebar-about">
      <p class="lead"><a target="_blank" href="{{ site.github.url }}">I'm on github</a></p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="/">Blog</a>
      <a class="sidebar-nav-item{% if page.url contains "/projects" %} active{% endif %}" href="/projects">Projects</a>
      <a class="sidebar-nav-item{% if page.url contains "/articles" %} active{% endif %}" href="/articles">Articles</a>
      <a class="sidebar-nav-item{% if page.url contains "/contact" %} active{% endif %}" href="/contact">Contact</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
