<div class="sidebar">
  <div class="container sidebar-sticky">
      {% include profile_card.html %}
      <h2 class="light-green">Josh Waller</h2>
    <div class="sidebar-about">
      <p class="lead">I'm on <a target="_blank" href="{{ site.github.url }}">github</a> &amp; <a target="_blank" href="{{ site.twitter.url }}">twitter</a></p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="/">Blog</a>
      <a class="sidebar-nav-item{% if page.url contains "/projects" %} active{% endif %}" href="/projects">Projects</a>
      <a class="sidebar-nav-item{% if page.url contains "/articles" %} active{% endif %}" href="/articles">Articles</a>
      <a class="sidebar-nav-item{% if page.url contains "/music" %} active{% endif %}" href="/music">Music</a>
      <a class="sidebar-nav-item{% if page.url contains "/contact" %} active{% endif %}" href="/contact">Contact</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
